[submodule "workshops/huckleberry"]
	path = workshops/huckleberry
	url = https://github.com/dev-feriansyah/css-for-js-workshop1-huckleberry.git
[submodule "challenges/qr-code-component"]
	path = challenges/qr-code-component
	url = git@github.com:dev-feriansyah/frontendmentor-qr-code-component.git
[submodule "challenges/blog-preview-card"]
	path = challenges/blog-preview-card
	url = git@github.com:dev-feriansyah/frontendmentor-blog-preview-card.git
[submodule "workshops/character-creator"]
	path = workshops/character-creator
	url = git@github.com:dev-feriansyah/css-for-js-workshop2-character-creator.git
[submodule "workshops/mini-component-library"]
	path = workshops/mini-component-library
	url = git@github.com:dev-feriansyah/css-for-js-workshop3-mini-component-library.git
[submodule "workshops/sole-and-ankle"]
	path = workshops/sole-and-ankle
	url = https://github.com/dev-feriansyah/css-for-js-workshop4-sole-and-ankle
[submodule "challenges/product-preview-card"]
	path = challenges/product-preview-card
	url = git@github.com:dev-feriansyah/frontendmentor-product-preview-card.git
